/* Window */

.windowBar {
    -fx-background-color: rgba(48, 48, 77, 0.1);
}

.windowBar .menu-bar,
.windowBar .button {
    -fx-background-color: transparent;
}

.windowBar .button {
    -fx-background-radius: 0;
}

.windowBar .button:hover {
    -fx-background-color: darkgrey;
    -fx-padding: 1px 0.8em 0.5em 0.9em;
}

.windowBar .close:hover {
    -fx-background-color: crimson;
    -fx-padding: 1px 0.8em 0.5em 0.9em;
}


.leftMenu {
    -fx-background-color: #30304d;
}

#pageMenu VBox * {
    -fx-text-fill: #f3f3f5;
}

#pageMenu VBox.currentWorkspace {
    -fx-background-color: #ffffff0f;
}